.header_background {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(180deg, #3b80ff, #131313);
  transform: skewY(0deg);
  transform-origin: top left;
}

.header_title {
  text-align: center;
  color: #fff;
}